{{#each this}}
<li>
  <article class='photo-card'>
    <img src='' alt='' />
    <ul class='stats'>
      <li class='stats-item'>
        <i class='material-icons'>thumb_up</i>
        {{}}
      </li>

      <li class='stats-item'>
        <i class='material-icons'>visibility</i>
        {{}}
      </li>

      <li class='stats-item'>
        <i class='material-icons'>comment</i>
        {{}}
      </li>

      <li class='stats-item'>
        <i class='material-icons'>cloud_download</i>
        {{}}
      </li>
    </ul>
  </article>
</li>
{{/each}}