.search-form {
  display: flex;
  justify-content: center;

  margin-top: 30px;
}
button {
  display: flex;
  justify-content: center;
}
.title-text {
  display: inline;
}

/* img {
  width: 100%;
} */

/* .photo-card :not(:last-child) {
  margin-right: 20px;
} */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-top: 40px;
}
.photo-card:not(:last-child) {
  margin-right: 30px;
  margin-bottom: 30px;
}

.photo-card {
  cursor: pointer;
  list-style: none;
}
.button.is-hidden {
  display: none;
}

.button > .spinner.is-hidden {
  display: none;
}
